﻿@{
    ViewBag.Title = "Home Page";
}


<form method="post">
    <div>Enter Summoner Name</div>
    <input class="input-lg" id="summoner" name="summoner">
    <button class="btn-lg">Search</button>
</form>