﻿@model LeagueApi.ViewModels.RecentMatchViewModel

<table>
    <tr>
        <td class="col-sm-1">Summoner Name</td>
        <td class="col-sm-1">Champion</td>
        <td class="col-sm-1">Kills/Deaths/Assists</td>
        <td class="col-sm-1">Total Damage Dealt</td>
    </tr>
    <tr>
        <td class="col-sm-1">@Model.SummonerName</td>
        <td class="col-sm-1">@Model.Champion</td>
        <td class="col-sm-1">@Model.Kills/@Model.Deaths/@Model.Assists</td>
        <td class="col-sm-1">@Model.TotalDamageDealt</td>
    </tr>
</table>