﻿@model LeagueApi.ViewModels.RecentMatchViewModel
@{
    /**/

    ViewBag.Title = "Most Recent Match";
}
<html>
<body>
    <h2>Most Recent Match</h2>
    <h4>This displays the most recent match played by a user, and its statistics</h4>
    @if(Model.Errors == "" || Model.Errors == null)
    {
        @Html.Partial("MatchStatistics", Model);
    }
    else
    {
        @Model.Errors
    }
</body>
</html>